@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Source+Sans+Pro");

body {
  background-color: #212c42;
  min-height: 100vh;
  color: #ececec;
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}
